# HOW TO USE:
#
# 1 Add environment variables for the various stages here
# 2 Rename this file to env.yml and uncomment it's usage
#   in the serverless.yml.
# 3 Make sure to not commit this file.

# LOCALPATH - path to download and store for processing
# FROMBUCKET - use by serverless.ytml for wiring event handler
# DESTBUCKET - use to upload after export
# DEBUG - use with nodejs debug module for printing of error message

dev:
  LOCALPATH: /tmp/pdf
  FROMBUCKET: lambda-pdfxs3-dev
  DESTBUCKET: lambda-pdfxs3-dev
  DEBUG: lambda-pdfxs3

prod:
  LOCALPATH: /tmp/pdf
  FROMBUCKET: lambda-pdfxs3-prod
  DESTBUCKET: lambda-pdfxs3-prod
